/*--------------------------------------------------  Gentle styles  */

/*----------  Navigation  */
.waves-header a {
	color:#444;
	text-decoration:none;
}

.waves-header a:hover {
	color:#f00;
}

.waves-header-inner .tw-logo {
	position:fixed;
	top:26px;
	left:50%;
	width:180px;
	margin-left:-5px;
}

.admin-bar .waves-header-inner .tw-logo {
	margin-top:32px;
}

body.header-left-side {
	padding-left:170px;
}

body.header-left-side .waves-header {
	width:170px;
	border-right:0;
	border-bottom:0;
}

body.header-left-side .waves-header-inner>div>.row>div.waves-header-right {
	padding-bottom:100px;
}

.sf-mobile-menu {
	margin:20px 0 0;
	padding:0;
	list-style:none;
}

.sf-mobile-menu ul {
	list-style:none;
	margin:0;
	padding:0;
}

.sf-mobile-menu li {
	line-height:20px;
}

.sf-mobile-menu li a {
	font-size:13px;
	text-transform:uppercase;
	margin-top:3px;
}

.sf-mobile-menu .menu-item-has-children.active > ul {
	height:auto;
}

.sf-mobile-menu .menu-item-has-children.not_active > ul {
	height:0;
}

.sf-mobile-menu ul {
	height:0;
	overflow:hidden;
	padding-left:10px;
}

.sf-mobile-menu ul,
.sf-mobile-menu li {
    -webkit-transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    -moz-transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    -o-transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    -ms-transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
	display:block;
}

.sf-mobile-menu .menu-item-has-children > a:before {
	top:3px;
	z-index:0;
}

.sf-mobile-menu > .menu-item-has-children > .sub-menu > .menu-item-has-children > a:before{
    font-size: 12px;
    top: 3px;
    right: 0;
}

.sf-mobile-menu a:hover,
.sf-mobile-menu .current-menu-item > a,
.sf-mobile-menu .current_page_item > a {
	color:#f00;
}

.waves-header-inner>div>.row {
	display: -webkit-flex; /* Safari */
	-webkit-flex-direction: column; /* Safari 6.1+ */
}

.waves-header-inner>div>.row>div {
	align-items:flex-start;
	-webkit-align-items:flex-start;
}

body.header-left-side .waves-header-inner>div>.row {
	justify-content:space-between;
	-webkit-justify-content:space-between;
}

body.header-left-side .waves-header-inner>div>.row:before,
body.header-left-side .waves-header-inner>div>.row:after {
	content:none;
}

body.header-left-side .waves-header-inner .waves-header-left {
	position:relative;
}

.waves-header-right {
	padding-bottom:25px;
}

.gentle_menu_button {
	visibility:hidden;
	opacity:0;
}


/*----------  Languages  */
#lang_sel_list {
	height:20px;
}

#lang_sel_list a, 
#lang_sel_list a:visited {
	padding-left:0;
	margin-right:7px;
	background:none !important;
}

#lang_sel_list li {
	line-height:20px;
	height:20px;
}

#lang_sel_list li:before {
	content:none !important;
}

#lang_sel_list a {
	vertical-align:top;
	position:relative;
	text-indent:-100px;
	display:inline-block;
	width:25px;
	height:20px !important;
	line-height:20px;
	z-index:2;
	overflow:hidden;
}

#lang_sel_list a.lang_sel_sel {
	color:#f00;
}

#lang_sel_list .icl-ru a:after,
#lang_sel_list .icl-uk a:after,
#lang_sel_list .icl-en a:after {
	position:absolute;
	left:100px;
	top:0;
	font-size:11px;
	text-transform:uppercase;
}

#lang_sel_list .icl-en a:after {
	content:'eng';
}

#lang_sel_list .icl-uk a:after {
	content:'ua';
}

#lang_sel_list .icl-ru a:after {
	content:'rus';
}


/*----------  Header Social  */
.social_list_links {
	list-style:none;
	padding:0;
	margin:0;
}

.social_list_links li {
	display:block;
	padding:0;
	margin:0 7px 0 0;
	line-height:20px;
}

.social_list_links li a {
	text-transform:uppercase;
	font-size:13px;
	line-height:20px;
}


/*----------  Small fixes  */
.shop_table  .button.wc-backward {
	float:left;
	border: 1px solid #111;
	background: #111;
	display: inline-block;
	padding: 12px 25px;
	margin-right:25px;
	color: #fff;
	line-height: 1;
	cursor: pointer;
	width: auto;
	height:40px;
	-webkit-transition: border-color 0.3s ease-in-out;
	-moz-transition: border-color 0.3s ease-in-out;
	-o-transition: border-color 0.3s ease-in-out;
	-ms-transition: border-color 0.3s ease-in-out;
	transition: border-color 0.3s ease-in-out;
}

.tw-product-feature .single_add_to_cart_button,
.cart-collaterals  .button,
.shop_table  .button.wc-backward,
.shop_table .actions button, 
.shop_table .actions input[type="submit"] {
	background-color:#fff;
	color:#111;
}

.tw-product-feature .single_add_to_cart_button:hover
.cart-collaterals  .button:hover,
.shop_table  .button.wc-backward:hover,
.shop_table .actions button:hover, 
.shop_table .actions input[type="submit"]:hover {
	border-color:#ccc;
}

.tw-product-feature .single_add_to_cart_button.load {
	background-color:#eee;
}

.single_add_to_cart_button.disabled {
	cursor:default;
}

.tw-isotope-container .tw_product_header .absolute-content .tw-hoverline,
.tw-isotope-container .product-slider-content .tw-hoverline {
	display:none;
}

.tw_product_container:hover .product-slider-content .price,
.tw-product.layout-2 .absolute-content:hover .price,
.tw-product.layout-3 .absolute-content:hover .price,
body .tw-product:not(.layout-2):not(.layout-3) .tw_product_container:hover .price{
    opacity: 1;
}

.tw-product.layout-3 .tw_product_container > a {
	position:absolute;
	width:100%;
	height:100%;
	display:block;
	left:0;
	top:0;
	z-index:2;
}

body.single-product .tw-logo {
	display:none;
}

.waves-mbtn .ion-bag {
	display:inline-block;
	width:14px;
	text-align:center;
}

.gentle_cart_count {
	margin-left:5px;
}

.waves-modal-basket .woocommerce-message a{
	color:#fff;
}

.waves-modal-basket .woocommerce-message a:hover{
	color:#888888;
}


/*----------  Products  */
.tw-product.tw-isotope-container > .isotope-container {
	margin:0 -100px -100px 0;
}

.tw-product.layout-3 .isotope-container > article {
	margin:0 100px 100px 0;
}

.tw-isotope-container.woocommerce.tw-element {
	margin-top:-70px;
}


/*----------  Single Product  */
.tw-product-feature {
	position:relative;
	left:auto;
}

.tw-product-feature .tw-product-images {
	width:auto;
	float:none;
	overflow:hidden;
}

.tw-product-meta > .container {
	width:1170px;
}

/*----------  Lightbox  */
div.pp_overlay {
	background-color:#FFF;
}

div.pp_default .pp_details {
	position:static;
}

div.pp_default .pp_nav {
	display:none !important;
}

div.pp_default .pp_nav .currentTextHolder,
div.pp_default .pp_nav .pp_play,
div.pp_default a.pp_arrow_next,
div.pp_default a.pp_arrow_previous {
	display:none;
}

div.pp_default .pp_content_container .pp_details {
	margin:0;
	padding:0;
	height:0;
}

a.pp_previous,
a.pp_next {
	text-indent:0;
	background:none;
	width:50%;
	font-size:0;
}

a.pp_previous:before,
a.pp_next:before {
	font-family:"Ionicons";
	font-size:36px;
	color:#888;
	position:absolute;
	width:30px;
	height:30px;
	top:50%;
	margin-top:-15px;
	text-align:center;
}

a.pp_previous:before {
	content:"\f3d5";
	left:20px;
}

a.pp_next:before {
	content:"\f3d6";
	right:20px;
}

div.pp_default .pp_close {
	background:none;
	font-size:0;
	text-indent:0;
	text-align:center;
	line-height:30px;
	right:40px;
	top:10px;
	z-index:9999;
}

div.pp_default .pp_close:before {
	content:"\f2d7";
	font-family:"Ionicons";
	font-size:24px;
	color:#888;
}

a.pp_previous:hover:before,
a.pp_next:hover:before,
div.pp_default .pp_close:hover:before {
	color:#000;
}


/*----------  Custom css from wp admin  */
.soc-icon-set {
    text-align: right !important;
}

.logotype {
    text-align: center !important;
}

.single-product-navigation {
    display: none !important;
}

.tw-breadcrumb .woocommerce-breadcrumb {
    text-align: center !important;
}

.tw-product-feature .yith-wcwl-wishlistaddedbrowse a, .tw-product-feature .yith-wcwl-wishlistexistsbrowse a, .tw-product-feature a.add_to_wishlist {
    display: none !important;
}

.woocommerce-tabs .wc-tabs-wrapper .tabs .wc-tabs {
    display: none !important;
}

.tw-product.layout-3 .tw_product_container, .tw-product.layout-3 .waves-slick-slide, .tw-product.layout-3 .product_thumb {
   background-image: !important;
}


/*----------  Responsive  */
@media (max-width: 1370px) {
	.container {
		width:100% !important;
	}
}

@media (max-width: 1199px) {
	.tw-product-feature .tw-product-images {
		width:auto;
	}
}

@media (max-width: 1024px) {
	body.header-left-side .waves-header {
		position:absolute;
	}
	
	.waves-header-inner > .container {
		padding-right:40px;
	}
	
	.admin-bar .gentle_menu_button {
		top:0;
	}
	
	.gentle_menu_button  {
		visibility:visible;
		opacity:1;
		position:absolute;
		right:-42px;
		top:-15px;
		width:30px;
		height:30px;
		line-height:30px;
		text-align:center;
	}
	
	.gentle_menu_button:before {
		font-family:"Ionicons";
		display:inline-block;
		color:#444;
		line-height:30px;
		font-size:28px;
		content:"\f20e";
	}
	
	.small_menu_opened .gentle_menu_button:before {
		font-size:24px;
		content:"\f2d7";
	}
	
	body.header-left-side.small_menu_opened {
		padding-left:170px;
	}
	
	body.header-left-side {
		padding-left:40px;
		-webkit-transition: padding 0.3s ease-in-out;
		-moz-transition: padding 0.3s ease-in-out;
		-o-transition: padding 0.3s ease-in-out;
		-ms-transition: padding 0.3s ease-in-out;
		transition: padding 0.3s ease-in-out;
	}
	
	body.header-left-side .waves-header {
		left:-130px;
		-webkit-transition: left 0.3s ease-in-out;
		-moz-transition: left 0.3s ease-in-out;
		-o-transition: left 0.3s ease-in-out;
		-ms-transition: left 0.3s ease-in-out;
		transition: left 0.3s ease-in-out;
	}
	
	body.header-left-side.small_menu_opened .waves-header {
		left:0;
	}
	
	.waves-header-inner>div>.row>div,
	.waves-header-inner>div>.row {
		display:block;
	}
	
	body.header-left-side .waves-header-inner .waves-header-left {
		top:auto;
		margin-top:30px !important;
	}
	
	body.header-left-side .waves-header-inner>div>.row>div.waves-header-right {
		padding-bottom:20px;
		padding-top:30px;
	}
	
	.waves-header-inner .tw-logo {
		margin-left:-60px;
	}
	
	.admin-bar .waves-header-inner .tw-logo {
		margin-top:0;
	}
	
	.waves-header-inner .tw-logo {
		position:relative;
		width:100px;
		margin-left:0;
		left:0;
		top:0;
	}
}

@media (max-width: 480px) {
	body.header-left-side {
		padding-left:40px !important;
	}
	
	body.header-left-side.small_menu_opened {
		padding-left:170px !important;
	}
	
	body.header-left-side .waves-header {
		height:0;
		z-index:99;
	}
	
	body.header-small.header-left-side .waves-header-inner {
		width:auto;
		border:none;
		position:static;
		left:auto;
		top:auto;
		height:100%;
		margin:0 !important;
	}
	
	.admin-bar.header-left-side .waves-header {
		top:0;
	}
	
	body.header-left-side .waves-mbtn {
		margin:0;
	}
	
	.waves-modal-basket.active {
		z-index:9999;
	}
}
